*~
*.html
*.dbk
*.epub
*.info
*.pdf
*.tar.gz
*.txt
*.zip
*.aux
*.dvi
*.log
*.ps
*.out
*.cp
*.cps
*.fn
*.ky
*.op
*.pg
*.toc
*.tp
*.vr
bak/
doc/bak
images/*.txt
doc/images/*.txt
images/*.eps
doc/images/*.eps
typescript
